body{
    background-image: url("https://img.freepik.com/fotos-premium/parte-superior-mesa-madera-paisaje-marino-hojas-palma-desenfoque-luz-bokeh-mar-calma-cielo-playa-tropical_1484-2149.jpg?w=2000");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
}