@media (max-width:576px){
  
  .homeTitulo{
    font-size: 1.9em;
   }
  .gapO{
    gap: 4%;
  }
  .cajaPrincipalIndex{
    height: 650px;
  
  }
  .parrafoIndex1{
    font-size: 0.9em;
    }
  .cajaIndex1{
    width: 90%;
    height: 19%;
  }
  .parrafoIndex2 {
    font-size: 0.8em;
}

.tamaño1{
  width: fit-content;
}
.categorias2{
  margin-top: 0%;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pn2{
  margin-top: 2%;
  font-size: 0.6em;
  font-weight: bold;
}
.tituloNosotros1{
  width: 80%;
  top: 3%;
}

.contenedor1{
  text-align: center;
}
.tituloFooterSub{
  text-align: center;
  font-size: 0.7em;
}

.parrafoFooter{
  font-size: 0.5em;
}
.tituloFooterSub2{
  font-size: 0.6em;
  
}
.footerGeneral{
  top: 10%;

}

.responsiveContacto{
  font-size: 0.7em;
}

.responsiveContacto2{
  font-size: 0.5em;

}




.footerPages{
  flex-direction: column;
  
}

.responsiveImgFooter{
  width: 30%;
}




}



@media (min-width:576px){

  .parrafoIndex1{
    font-size: 1em;
    margin-top: 3%;
    }
  
  .parrafoIndex2 {
    
    font-size: 0.9em;
}

.cajaPrincipalIndex{
  height: 1000px;

}
.cajaIndex1{
  width: 80%;
  height: 12%;
}


    .muebles1{
        font-size: 2.3em;
        
    }

   .homeTitulo{
    font-size: 2.3em;
   }
   

.card-cat{
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;

}
.responsiveLetraCat{
  font-size: 1em;
}

.card-not{
        width: 75%;
        margin-right: 12.5%;
        margin-left: 12.5%;
}





.imgN1{
  width: 100%;
      
}

.pn2{
  margin-top: 2%;
  font-size: 0.7em;
  font-weight: bold;
}
.tituloNosotros1{
  width: 80%;
}


.responsiveLetraOfe{
  font-size: 0.9em;
}
.card-ofe{
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}
.footerGeneral{
  top: 10%;

}

.tituloFooterSub{
  font-size: 1.5em;
  
}
.parrafoFooter{
  font-size: 0.8em;
}

.responsiveContacto{
  font-size: 1.2em;
}

  }


 
@media (min-width:768px){
        
    .card{
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }

    .cajaPrincipalIndex{
      height: 600px;
    
    }

    .cajaIndex1{
      width: 70%;
      height: 19%;
    }

    .card-cat{
      width: 75%;
      margin-right: 12.5%;
      margin-left: 12.5%;


    }
    
    .responsiveLetraOfe{
      font-size: 0.8em;
    }
  
    .card-ofe{
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      
    }
   
    .tituloNosotros1{
      width: 70%;
    }
    .pn2{
      font-size: 0.8em;
    }
    
    .footerGeneral{
      top: 10%;
    
    }
    .tituloFooterSub2{
      font-size: 1.5em;
    }
    .tituloFooterSub{
      font-size: 1.4em;
      
    }
  }

 @media (min-width:992px){
   
  .cajaPrincipalIndex{
    height: 700px;
  
  }
  .cajaIndex1{
    width: 40%;
    height: 19%;
  }
  
  .card-cat{
      width: 50%;
      margin-right: 25%;
      margin-left: 25%;

} 

    .card-ofe{
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.responsiveLetraOfe{
  font-size: 0.8em;
}
.pn2{
  margin-top: 2%;
  font-size: 0.8em;
  font-weight: bold;
}
.tituloNosotros1{
  width: 60%;
}

.footerGeneral{
  top: 10%;

}

.tituloFooterSub{
  font-size: 1.8em;
  
}
    
  }



@media (min-width:1400px){
    .card-ofe{
      width: 50%;
      margin-right: 25%;
      margin-left: 25%;

} 
    .responsiveLetraOfe{
    font-size: 1.0em;
}
.pn2{
  margin-top: 2%;
  font-size: 0.8em;
  font-weight: bold;
}
.tituloNosotros1{
  width: 50%;
  height: 70%;
}

.footerGeneral{
  top: 15%;

}


.tituloFooterSub{
  font-size: 2em;
  
}
.parrafoFooter{
  width: 80%;
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
}
}
