.grillaHeader{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "logo logo logo logo logo"
    "homeTitulo homeTitulo homeTitulo homeTitulo homeTitulo"
    "barraNav barraNav barraNav barraNav barraNav"
    ;
}


.logoHeader{
    grid-area: logo;
    @include displayInicial;
    margin-top: 20px;
    width: 100%;
    height: auto;
            
}


.barraNav{
    grid-area: barraNav;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;    
    width: 100%;
    
    
    

        li , footer ul li {
    list-style-type: none;
    margin: 0 20px;
}

            a ,  footer ul li a {
    color: $colorPrincipal;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
}


.homeTitulo{
    grid-area: homeTitulo;
    @include displayInicial;
    color: $colorPrincipal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    
}
nav{
    background: white;
    color: $colorPrincipal;
}
.colorNav{
    @extend nav
}
