.titulosIndex{    
    margin-top: 1em;
    @include displayInicial;
    color: $colorPrincipal;
    
    }


.row{
    margin-left: 0;
    margin-right: 0;
}


.card-ch{
    --bs-card-border-color: #cf9b78;
    --bs-card-color: white;
    width: 80%;
    height: 80%;
    margin-right: 10%;
    margin-left: 10%;
    
}

.card-title, .card-text{
    text-align: center;
    font-weight: bold;


}



.imagenIndex{
    border-style: initial;
    border-radius: 5%;
}


.cajaPrincipalIndex{
    width: 100%;
    height: 600px;
    background-image: url(../images/intro4.jpg);
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cajaIndex1{
    margin-top: 4%;
    width: 50%;
    height: 20%;
    background-color: rgba(32, 25, 18, 0.384);
    text-align: center;
    
    &{
        color: white;        
        font-weight: bold ;
    }
}

.parrafoIndex1{
    font-size: 1.5em;
}

.parrafoIndex2{
    font-weight: normal;
    font-size: 1.2em;
}

hr{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 3px;
    background-color: white;
}


.cajaIndex2{
    width: 80%;
    height: 40%;
    margin-top: 4%;
}


.ofertas1{
    display: flex;
    justify-content: center;
    color: white;
    
}
.ofertasCar{
    font-size: 1.5em
}

.imagenIntro{
    object-fit: cover;
    width:100%;
    height:100%;
}



